/* Reset */
body{
    padding: 0;
    margin: 0;
}

/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@300;600&display=swap');

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif; /* Para títulos */
    font-weight: 700;
    text-transform: uppercase;
}

button {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

p, span {
    font-family: 'Poppins', sans-serif; /* Para textos gerais */
    font-weight: 300;
}

/* colores */

body{
    color: #4b4b4b;
    background-color: #1a1a1a1a;
}
a{
    color: #4b4b4b;
}
footer, header{
    background-color: #5d3fd3;
}
button{
    background-color: #5d3fd3;
}
a:hover{
    text-decoration: underline;
    color: #7a5fe9;
}

/* Body */

body{
    margin: 0;
}

/* Header */

header{
    height: 4svh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.3em 0.5em;
}
.nome_empresa{
    font-size: 18pt;
}
.logged_image_user{
    display: none;
}
.logged_image_user img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.not_logged_in{
    gap: 1em;
}
.bt_menu{
    font-size: 10pt;
    border: none;
}
.bt_menu:hover{
background-color: #7a5fe9;
color: #f4f4f4;
}

/* Nav */

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}
.nav-links{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 4svh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
}

/* Main */

main{
    height: 88svh;
}

/* Footer */

footer{
    height: 4svh;
}